<!-- Clients Aside -->
    <aside class="clients">
       <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Certificate</h2>
                </div>
            </div>
  
             <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                       <img src="../img/logos/arbeit.png" data-toggle="modal" data-target="#mymodal" Style="width:120px; height:120px; margin: 0 auto;"/>
                    </span>
                    <h4 class="service-heading">아르바이트 경력증명서</h4>
                </div>
            </div>           
  
             <!-- Modal -->
             <div class="modal fade" id="myModal" role="dialog"> <!-- 사용자 지정 부분① : id명 -->
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">

                          <button type="button" class="close" data-dismiss="modal">×</button>
                          <h4 class="modal-title">모달 창 타이틀</h4> <!-- 사용자 지정 부분② : 타이틀 -->
                         </div>

                         <div class="modal-body">
                             <p>여기에 필요한 텍스트 메시지 넣기</p> <!-- 사용자 지정 부분③ : 텍스트 메시지 -->
                          </div>

                         <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         </div>
                    </div>
                 </div>

        
        </div>
    </aside>
