 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>기간:
                                    <strong>{{ post.project-date }}
                                    </strong>
                                </li>
                                <li>인원수:
                                    <strong>{{ post.number-of-people }}
                                    </strong>
                                </li>
                                <li>개발도구:
                                    <strong>{{ post.tool }}
                                    </strong>
                                </li>
                                <li>사용언어:
                                    <strong>{{ post.language }}
                                    </strong>
                                </li>
                                <li>담당업무:
                                    <strong>{{ post.work }}
                                    </strong>
                                </li>                             
                            </ul>
                         </div>
                  </div>
              </div>
                            <h3 class="section-subheading text-muted">Explanation</h3>
                            <div>{{ post.explantion }}</div>
                         
             <div style="{{ post.snapshot-dis }}">
                            <hr>
             
                            <h3 class="section-subheading text-muted">SnapShot</h3>
                <div class="row text-center">
                <div class="col-md-4">
                    
                 <span>
                       <img src="img/portfolio/{{ post.snapshot1 }}"  style="width:100%;" onclick="onClick(this)" onerror="this.style.display='none'""/>
                    </span>
                </div>
                <div class="col-md-4">
                    <span>
                       <img src="img/portfolio/{{ post.snapshot2 }}"  style="width:100%;"  onerror="this.style.display='none'""/>
                    </span>
                </div>
                <div class="col-md-4">
                    <span>
                       <img src="img/portfolio/{{ post.snapshot3 }}"  style="width:100%;"  onerror="this.style.display='none'""/>
                    </span>
                </div>
            </div>                            
                          
                <div class="row text-center">
                <div class="col-md-4">
                    <span>
                       <img src="img/portfolio/{{ post.snapshot4 }}"  style="width:100%;"   onerror="this.style.display='none'""/>
                    </span>
                </div>
                <div class="col-md-4">
                    <span>
                       <img src="img/portfolio/{{ post.snapshot5 }}"  style="width:100%;"  onerror="this.style.display='none'""/>
                    </span>
                </div>
                <div class="col-md-4">
                    <span>
                       <img src="img/portfolio/{{ post.snapshot6 }}" style="width:100%;"  onerror="this.style.display='none'""/>
                    </span>
                </div>
            </div>  
                                         
                <div class="row text-center">
                <div class="col-md-4">
                    <span>
                       <img src="img/portfolio/{{ post.snapshot7 }}" style="width:100%;"  onerror="this.style.display='none'""/>
                    </span>
                </div>
                <div class="col-md-4">
                    <span>
                       <img src="img/portfolio/{{ post.snapshot8 }}" style="width:100%;"  onerror="this.style.display='none'""/>
                    </span>
                </div>
                <div class="col-md-4">
                    <span>
                       <img src="img/portfolio/{{ post.snapshot9 }}" style="width:100%;"  onerror="this.style.display='none'""/>
                    </span>
                </div>
            </div>        
           </div>                                                                                                                 
                                                                                                                              
                                                                                                                                                                                                                                    
                         
                            <hr>
                       <div style="{{ post.videosetting }}">                                                                                                       
                           <h3 class="section-subheading text-muted">Video</h3>
                           <video controls="controls" style="width:100%;  onerror="this.style.display='none'""">
                                     <source src="img/portfolio/{{ post.video }}" type="video/mp4"  onerror="this.style.display='none'""">
                           </video> 
                           <hr>
                      </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
         
         
         
         <script type="text/javascript">
var img = document.getElementsByTagName("img");
    for (var x = 0; x < img.length; x++) {
      img.item(x).onclick=function() {window.open(this.src)}; 
    }
</script>

         
       
{% endfor %}
